body {
  margin: 0;
}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  z-index: 1;
}

a:link {
  color:black;
}

a:visited {
  color:black;
}

#navigation a {
  padding: 10px;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}

#logopic {
  padding-left: 30px;
}

#logo-text {
  margin-left: 10px;
}

#navigation {
  color: black;
  display: inline-block;
  padding-right: 30px;
}


.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 90px;
  margin-bottom: 80px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.lead-story .image-content {
  background-image: url("./resources/img-story-main.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  justify content: center;
}

.story {
  width: 300px;
}

h2 {
  font-size: 30px;
  margin-top: 0px;
}

.story-text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.earth-spins.image-content {
  background-image: url("./resources/img-story-2.png");
  height: 300px;
}

.camera-memory.image-content {
  background-image: url("./resources/img-story-3.png");
  height: 300px;
}

.cat-control.image-content {
  background-image: url("./resources/img-story-1.png");
  height: 300px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites {
  display: flex;
  flex-direction: column;
}

.news-bites span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  padding: 11px 20px;
  color: DimGray;
  border-bottom: 1px solid black;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  justify-content:center;
  align-items: center;
}


.mini-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.footer span {
  display: inline-block;
}

.footer nav {
  display: inline-block;
  padding-left: 25px;
}
